.App {
  text-align: center;
  
}

.particlesClass {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1  
  /* set z-index to -1 to not cover the other components, but lose interactivity */
  /* z-index need to be 1 to get interactivity. if -1, onHover doesn't work */
} 

